 

.projects__title {
    text-align: center;
    padding: 2rem 0;
}

h2.projects__title-light {
    text-align: center;

}

#projects {
    display: block;
}


.projects__container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}