h1 {
    font-size: 2rem;
} 

.projects__title {
    text-align: center;
    padding: 2rem 0;
}


#projects {
    display: block;
}


.projects__container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}