.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects__title {
    text-align: center;
    padding: 2rem 0;
}

h2.projects__title-light {
    text-align: center;

}

#projects {
    height: 100vh;
    width: auto;
}

.projects__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}