.about {
    height: calc(100vh - 5.5rem);
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}

.about__container {
    display: flex;

}

.about__img {
    display: block;
    max-width: 20%;
    height: auto;
    padding: 1rem;
    border: 0.25rem solid var(--color-dark);
    grid-area: img;
}
/* .img__container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.about__title {
    font-size: 4em;
    padding: 0 0.5em 0.5em 0;
    text-align: left;
}

.about__desc {
    grid-area: desc;
}