.about {
    height: calc(100vh - 5.5rem);
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}

.about__container {
    position: relative;
    display: flex;
    margin: 2rem 4rem;
    border: 0.25rem solid var(--color-dark);
    padding: 2rem;
    border-radius: 25px;
}

.about__img {
    width: auto;
    height: 60vh;
    padding: 1rem;
    border: 0.25rem solid var(--color-dark);
    border-radius: 25px;
    min-width: 40%;
}
.img__container {
    margin: 0 2.5rem 0 0;
}

.about__title {
    font-size: 4em;
    padding: 0 0.5em 0.5em 0;
    text-align: left;
}

.about__desc {
    grid-area: desc;
}

.text__container {
    padding: 0 1rem 0 0;
}


@media screen and (max-width: 900px) {
    .about__title {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 700px) {
    .about__title {
        font-size: 2rem;
    }
    .about__container {
        flex-direction: column;
    }
}
@media screen and (max-width: 475px) {
    .about__title {
        font-size: 2rem;
        padding: 0 0.2em 0.2em 0;
    }


}