@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    
    --color-dark: #101019;
    --color-light: #eee;
    --color-accent: #a2e0c8;
    --color-footer: #202340;
    --color-blue-400: #4361EE;
    --color-pink-600: #F72585;
    --color-unt-green: #366D49;
}